<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEfmUserService" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://court.tylerhost.net/EFM/EFMUserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEfmUserService"
                contract="EFM.IEfmUserService" name="BasicHttpBinding_IEfmUserService" />
        </client>
    </system.serviceModel>
</configuration>