body {
	 font-family:calibri,arial,helvetica,sans-serif;
	 font-size:11pt;
	 xwidth: 745px;
}

card {
	background-color: aqua;
	color: white;
}

h1 {
	font-family: calibri;
	font-weight: bold;
	display: block;
	text-align: center;
}

h3, h4{
	font-weight: bold;
}

table *{
	padding: 0px 0px 0px 0px !important;
}

thead{
	border-bottom-color: black;
}

a[*|href]{
	text-decoration: underline !important;
}

.sectionlink {	
	 font-family: Calibri;	
	 font-size:12pt;
	 color:A1A858;	
	 margin-top: 5px;
	 margin-left: 0px;
}

.sectionheader {	
	 font-family: Calibri;		
	 margin-bottom: 10px;
	 margin-left: 0px;
}

.sectionfooter {	
	 font-family: Calibri;		
	 margin-top: 10px;
	 margin-left: 0px;
}

.content {	
	 font-family: Calibri;	
	 margin-bottom: 10px;
	 margin-left: 20px;
	 table-layout: fixed;
}

.contenterror {	
	 font-family: Calibri;	
	 color: red;
	 font-weight: bold;
	 margin-bottom: 10px;
	 margin-left: 20px;
}

.attention {	
	 font-family: Calibri;	
	 color: red;
	 font-weight: bold;
	 margin-bottom: 10px;
}

.subpagelink {
	 margin-left: 40px;
	 font-family: Calibri;
	 color:#4E67A1;
}

.pagetitle {
	 font-family: Calibri;	
	 font-size:16pt;
	 color:#4E67A1;	
	 margin-top: 25px;
	 margin-left: 0px;
}

.messagelink {
	 margin-left: 0px;
	 font:Calibri;
	 font-size:12pt;
	 color:#4E67A1;
}

.itemheader {
	 font:Calibri;
	 font-size:14pt;	
	 color:#4E67A1;
	 margin: 15px;
}

.fieldlabel {
	width: 30%;
	vertical-align:top;
	font:Calibri;
	font-size:12pt;	
	color:#4E67A1;
}

.content {	
	 margin-left: 10px;

}


.apibox {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 5px;
	border: 1px;
	border-style: solid;
}

.table {
	margin-bottom:10px;
	margin-left:40px;
	width: 95%;
	font-family: calibri;
	table-layout: fixed;
}


.tabletr {
	text-align: left;		
}

.tableth {
	padding-right:15px
        border:1em;
    	border-style: none none solid none;	
	font-family: calibri;
}

.tabletd {
	vertical-align:top;
        border-width:1px;
    	border-style: none none solid none;
	font-family: calibri;
}

.embed_table {
	vertical-align:top;
	padding:30px;
	cellspacing:10
	border-width: 1px;
}



/*
nav {
    line-height:30px;
    background-color:#eeeeee;
    margin-left: 10px;
    xwidth:250px;
    width:20%;
    float:left;
    padding:5px;	      
}*/
section {
    width:95%;
    float:left;
    padding:10px;	 	 
}

footer {
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

#section1 {
	text-align: left;
}

#wrapper {
	width:100%;
	margin:0px auto;
	border:none;
}

#divcontent div {
	padding:10px;
	border:1px solid #bbb;
	float:left;
}

#divcontent-left {
	width:180px;
}

#divcontent-main {
	margin-left:10px;
	width:500px;
}

#divcontent-right {
	margin-left:10px;
	width:134px;
}

#divfooter {
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #bbb;
	width:878px;
	}

#divbottom {
	clear:both;
	text-align:right;
}

#navbarDiv {
	margin-left: 20px;
}

@media screen and (max-width: 1000px){
	#navbarDiv{
		display: none !important;
	}

	#navarrow{
		display: none !important;
	}
}

@media screen and (min-width: 1000px) {
	.shouldShow #navbarDiv {
		display: inline !important;
	}

	#navarrow{
		display: inline !important
	}
}

.etable {
	border:1px solid black;
	margin:5px;
	margin-left:20px;
	width:95%;
}

.etr {
}

.eth {
	background-color:#eeeeee;	
}

.etd {
	padding: 5px;
	vertical-align:top;
}

.etd:first-child{
	width:1%;
	white-space:nowrap;
	padding: 0px 40px 0px 0px !important;
}
	
.etdc {
	padding: 5px;
	vertical-align:top;
	text-align: center;
}

#nav1 {
	font-family: Calibri;
	font-size: 11pt;
	color: A1A858;
	margin-top: 5px;
}